<% @books.each do |book| %>
  <p>投稿ユーザー画像：<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></p>
<%= link_to book_path(book.id) do %>
  <%= book.book_name %>
<% end %>
  <%= book.opinion %>

<% end %>